* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 36, 36);
    color: azure;
    min-width: 400px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: auto;
}

.title {
    margin: 10px;
    font-size: 2em;
    text-decoration: underline;
}

.desc {
    margin: 10px;
    font-size: 1.2em;
}

.output {
    border: 1px solid azure;
    border-radius: 50px;
    width: 400px;
    height: 75px;
    margin: 25px;
}

button {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
}

button:active {
    transform: scale(.97);
}

input {
    width: 350px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
}

#answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 5px;
}
