* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #303446;
    color: #c6d0f5;
    min-width: 400px;
    font-family: 'Source Code Pro', monospace;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: auto;
}

.title {
    color: #e78284;
    margin: 10px;
    font-size: 1.5em;
    text-decoration: underline;
}

.desc {
    margin: 10px;
}

.output {
    border: 1px solid #c6d0f5;
    width: 400px;
    height: 75px;
    margin: 25px;
    color: #e78284;
}

button {
    width: 175px;
    height: 35px;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
    background-color: #e78284;
}

button:active {
    transform: scale(.97);
}

input {
    border: 1px solid #c6d0f5;
    width: 350px;
    height: 35px;
    text-align: center;
    background-color: #303446;
    color: azure;
}


#answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 5px;
}