* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 36, 36);
    color: azure;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 600px;
    margin: auto;
}

.title,
h1 {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

.ht {
    margin: 15px;
}

.output {
    border: 1px solid azure;
    border-radius: 100px;
    height: 35px;
    width: 300px;
    margin: 50px;
    text-align: center;
    font-size: 1.3em;
    color: azure;
}

input {
    border-radius: 50px;
    text-align: center;
    height: 45px;
    width: 250px;
    background-color: transparent;
    color: azure;
    font-size: 1.1em;
}

.button {
    margin: 50px;
}

button {
    width: 250px;
    height: 50px;
    font-size: 1.2em;
}

button:active {
    transform: scale(.96);
}